__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
*.pyc
__pycache__/
/setup.cfg
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
node_modules/
local_dir/
venv/
staticfiles/
mediafiles/
service-account.json
gcp/
*.log
*.db
*.pid

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
